h1 {
    color: rgb(171, 243, 123);
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

body {
    background-color: rgb(0, 0, 0);
}

#textBox {
    width: 300px; /* Initial width */
    height: 30px; /* Initial height */
    margin: 0 auto; /* Center the text box horizontally */
    display: block; /* Ensure it's a block-level element */
    background-color: black;
    color:rgb(171, 243, 123);
    font-family: "Pixelify Sans", sans-serif;
    border-color: rgb(171, 243, 123);
    border-width: 3px;
    font-size: 20px;
    outline: none;
}

.flex-container {
    display: flex;
}
  
.flex-container > div {
    background-color: #354b38;
    color:rgb(171, 243, 123);
    font-family: "Pixelify Sans", sans-serif;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    font-size: 30px;
}

.bordered {
    outline: 2.5px solid rgb(171, 243, 123);
}